body {
    background: black
}

.fa-facebook-f {
    -webkit-filter: invert(100%)
}

.index-test-buttons {
    border: 1px solid tan;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.index-test-buttons:hover {
    border: 1px solid black;
    background-color: tomato;
    
}

.index-test-buttons:hover p {
    color: aliceblue;
}

.index-test-buttons img {
    width: 50%;
}


@media only screen and (max-width: 960px)
 {
     .mr-auto{
         display: flex !important;
         flex-direction: row;
         width: 100% !important;
         margin-top: 10px !important;
     }
 }

#search-input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-btn {
    padding-left: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#btn-login {
    float: right;
}

#btn-login:hover{
    color: orange;
}

#navbar-brand{
    font-size: 30px;
    color: black;
}

#navbar-brand:hover {
    color: orange;
    text-decoration: none;
}

#container-navbar {
    margin-top: 10px
    /* padding: 10px; */
}

#row-i-container-navbar {
    padding: 0 75px;
}

#nav-dropdown {
    color: #000;
}

.nav-dropdown-item {
    text-decoration: none;
    color: black;
}
.nav-dropdown-item:active {
    background: none;
}

.nav-dropdown-item:hover {
    color: orange
}
/*   background: rgb(26, 26, 27); */
.modal-dialog {
  max-width: 1200px !important;
}
.post {
  margin-bottom: 50px;
  /* border: 1px solid orange; */
  padding: 20px;
  background: rgb(26, 26, 27);
}

.post-header {
  border-bottom: 1px solid orange;
  padding-bottom: 10px;
  color: white !important;
}

.post-body {
  color: white !important;
}

.post-div-updownvote {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-right: 10px
}

.post-div-updownvote button {
  background: none;
  border: none;
  /* margin: 0 auto; */
}

.post-div-updownvote button:hover {
  color: orange;
}

.post-div-updownvote p {
  margin: 0;
}

.post-div-page-autor{ 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-div-autor {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.post-div-autor p {
  margin-left: 10px
}

.post-div-page{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.post-div-page .post-div-circle {
  width: 30px;
  height: 30px;
}

.post-div-page p {
  font-size: 10px;

}

.post-footer button {
  background: none;
  border: none;
  margin: 0 auto;
  padding: 5px;
  color: white;
}

.post-footer button:hover {
  background: white;
  color: black;
  border-radius: 10px;
}

/* .post-div-circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
} */

.post-div-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.post-div-circle:hover {
  opacity: 0.5;
}

.post-div-circle img {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}

.btn-upvote {
  width: 10px !important;
  padding: 0 !important;
}

.btn-downvote {
  width: 10px !important;
  padding: 0 !important;
}

.btn-comments-send:hover {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.input-comment {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.post-nick {
  margin-left: 2%;
  margin-top: 16;
  margin-bottom: 0 !important;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

.post-nick:hover {
  font-weight: 400;
}

.img-choose-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 40px;
}

.page-div-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(https://www.facebook.com/images/fb_icon_325x325.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 20px;
}

 .hover {
  cursor: pointer;
}

 .hover:hover {
  background-color: #444;
  opacity: 0.5;
}

.page-name {
    color: white;
    font-size: 13px;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
}

.page-name:hover {
  font-weight: 400;
}

.page-description {
  font-size: 11px;
}

.page-sub-button {
    font-size: 14px;
}

.page-subs {
  font-size: 11px
}

.page-search-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: lightgrey
}

.page-img-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/*# sourceMappingURL=styles.chunk.css.map*/